/* src/App.css */
body{
  display: flex;
  place-items: center;
  margin-left: 500px;
}
.book-card {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.bookshelf, .search-results {
  display: flex;
  flex-wrap: wrap;
}

button {
  margin-top: 10px;
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #06fd8e;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
}
